@model Cumulative_N01652955.Models.Teacher

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete.. </h2>

<p>Full name: <span style="color:red">@Model.TeacherFName @Model.TeacherLName</span> </p>
<p>Employee number: <span style="color:red">@Model.EmployeeNumber</span></p>
<p>Hire date and time: <span style="color:red">@Model.HireDate</span></p>
<p>Salary: <span style="color:red"> @Model.Salary</span></p>

<form method="POST" action="/Teacher/Delete/@Model.TeacherId">
    <input type="submit" value="delete teacher" style="color:deeppink; background:darkolivegreen"/>
</form>